.heading-h1 {
    font-size: 3.8rem;
}

.heading-h2 {
    font-size: 3.6rem;
}

.heading-h3 {
    font-size: 2.6rem;
}

.div-text {
    font-size: 2rem;
}

.label-text {
    font-size: 2rem;
}

.select-text {
    font-size: 2rem;
}

.li-text {
    font-size: 1.6rem;
}

.input-text {
    font-size: 1.6rem;
}

.textarea-text {
    font-size: 1.6rem;
}

.p-text {
    font-size: 1.6rem;
}

.a-text {
    font-size: 1.6rem;
}

.tr-text {
    font-size: 1.6rem;
}

.font-bold {
    font-weight: 700;
}
